# Build and Release Folders
bin/
lib/
out/
build/
latex/
html/

#cmake stuff
CMakeFiles/
src/tests/kinematics/CMakeFiles/
src/tests/kinematics/MakeFile
src/tests/kinematics/cmake_install.cmake
CMakeCache.txt
MakeFile
cmake_install.cmake

#visual studio stuff
*.vcxproj

# temp files
.*~
